<!DOCTYPE html>
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            YELP CAMP
        </title>
        <link rel='shortcut icon' type='image/png' href='favicon-16x16.png'/>
        <!-- Font Awesomw -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
         <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" type = "text/css" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container">
            <a class="navbar-brand" href="/"><i class="fas fa-campground"></i> <strong>YelpCamp</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/campgrounds">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="https://github.com/mahadi-devo/YelpCamp">Download<span class="sr-only">(current)</span></a>
                  </li>
              </ul>
              <ul class="navbar-nav">
                <% if(!currentUser){ %>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login" class="nav-link">Login</a></li>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register" class="nav-link btn-sm align-middle btn-outline-success" type="button"">Sign Up</a></li>
                <% } else { %>
                    <li class ="nav-item"><a href="/users/<%= currentUser._id %> %>" class="nav-link">
                        <strong><em><%= currentUser.username %></em></strong> <img src="<%= currentUser.avatar %>" onerror="this.src='https://res.cloudinary.com/mahadi/image/upload/v1584360471/img-13_smmbx7.png'"  class="rounded-circle" alt="avatar" height="35"></a>
                    </li>
                    <li class ="nav-item"><a href="/logout" class="nav-link" id ="logout">Logout</a></li>
                <% } %>
              </ul>
            </div>
           </div>
          </nav>
                
        <div class = "container">
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %> 
                </div>
            <% } %>
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %> 
                </div>
            <% } %>
        </div>
        <div class="container">
